In [ ]:
nums=[31,22,33,44,55]
for num in nums:
  print(num)

31
22
33
44
55

In [ ]:
for i in range(10,15):
       print(i)

10
11
12
13
14

In [ ]:
count=0
while count<5:
  print(count)
  count+=1

0
1
2
3
4

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range (2,20,2):
  print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
for i in range(10,1,-2):
  print(i)

10
8
6
4
2

In [ ]:
for i in range (11,0,-2):
  print(i)

11
9
7
5
3
1

In [ ]:
num=int(input("Enter any number:"))
factorial=1
for i in range(1,num+1):
  factorial*=i
  print(factorial)

Enter any number:5
1
2
6
24
120

In [ ]:
nums=[1,2,[3,4,5],6,7]
print(nums[0])
print(nums[2])
print(nums[2][1])
print(nums[-1])
nums[2]=40
nums
nums[3]=9
nums

1
[3, 4, 5]
4
7

[1, 2, 40, 9, 7]

In [ ]:
nums=[2,[34,40],7]
nums[2]=9
nums

[2, [34, 40], 9]

In [ ]:
nums=[5,[4,9],8]
nums[1][0]=20
nums
nums.append(10)
nums
nums.insert(3,11)
nums
nums[1].insert(1,7)
nums

[5, [20, 7, 9], 8, 11, 10]

In [ ]:
nums=[12,86,100,24]
nums.sort(reverse=True)
nums

[100, 86, 24, 12]

In [ ]:
fruits=("apple","banana","cherry","orange")
y=list(fruits)
y[1]="Kiwi"
y.insert(2,"banana")
fruits=tuple(y)
fruits

('apple', 'Kiwi', 'banana', 'cherry', 'orange')

In [ ]:
for num in range(1, 11):
    if num % 2 != 0:
        print(num)

1
3
5
7
9